.CommentForm {
  position: relative;
}

.CommentForm-label {
  width: 10rem;
  text-align: right;
  margin-right: 0.3rem;
}

.CommentForm-button {
  display: inline-block;
  margin: .3rem;
  background-color: var(--red);
}

.comments-header{
  display: flex;
  align-items: baseline;
  padding: 0 1em 1em 1em;
}