.Nav {
  background-color: rgb(42, 55, 43);
  color: rgb(99, 92, 54)
}

.Nav .logo{
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.Nav .logo h4{
margin: 0rem;
text-shadow: .23px .23px rgb(250, 240, 170);
}

.Nav-NavLink {
  margin: .5rem 1rem;
  color: rgb(124, 114, 88);
  text-shadow: .23px .23px rgb(250, 240, 170);
}

.Nav-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}