.Nav {
  background-color: rgb(86, 167, 93);
  color: rgb(228, 206, 84)
}

.logo>IMG{
  display: flex;
  flex-direction: row;
  width: 40%;
}

.logo{
  left: 1em;
}

.nav-links{
  display: flex;
  align-items: center;
}

.Nav-NavLink {
  margin: .5rem 1rem;
  color: rgb(250, 240, 170);
}

.Nav-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}